#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thing-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.apod-image {
  width: 100%;
  max-width: 1500px;
  height: auto;
}

.attr-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.ban{
  background-color: black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: white;
  width: 1500px;
}